{% extends 'base.html' %}
{% block content %}
<h1 class="text-center mb-4">Welcome to HOME</h1>
<h2 class="mt-4">Kids</h2>
<div class="row">
    {% for user in kids %}
    <div class="col-6 col-md-4 mb-3">
        <a href="{{ url_for('login', user_id=user.id) }}" class="text-decoration-none">
            <div class="card shadow text-center">
                <img src="{{ url_for('uploads', filename=user.profile_pic) if user.profile_pic else '/static/default.png' }}" class="card-img-top rounded-circle mx-auto mt-3" style="width:100px;height:100px;object-fit:cover;">
                <div class="card-body">
                    <h5 class="username">{{ user.name }}</h5>
                    <p class="text-muted"><span class="text-warning">★</span> This month: {{ user.stars_month }}</p>
                    <p class="text-muted stars-last-two-days"><span class="text-warning">★</span> Last Two Days </p>
                    <p class="text-muted stars-last-two-days-number"><span class="text-warning">★</span> {{ user.stars_last_two_days }}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
<h2 class="mt-4">Parents</h2>
<div class="row">
    {% for user in parents %}
    <div class="col-6 col-md-4 mb-3">
        <a href="{{ url_for('login', user_id=user.id) }}" class="text-decoration-none">
            <div class="card shadow text-center">
                <img src="{{ url_for('uploads', filename=user.profile_pic) if user.profile_pic else '/static/default.png' }}" class="card-img-top rounded-circle mx-auto mt-3" style="width:100px;height:100px;object-fit:cover;">
                <div class="card-body">
                    <h5 class="username">{{ user.name }}</h5>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
